.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f7f7f7;
  border-top: .05rem solid #e5e5e5;
  position:absolute;
    bottom:0;
    width:100%
}
.blog-footer p:last-child {
  margin-bottom: 0;
}