.red{
    color:red;
    }
.form-area
{
  background-color: solid WHITE;
  padding: 5px 40px 20px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
  position: relative;
  height: 100%;
}

.btn {
	margin-left: 15px;
}