    <div class="container">

        <div class="row">

            <div class="col-sm-8">


            <h2>Job Offers</h2>
            <hr>

            <!--input type="text" [(ngModel)]="search">
                <div *ngFor = "let listing of jobListings |filter:search"-->

            <button [routerLink]="['../listing/', listing._id]" class="button" *ngFor="let listing of jobListings">
                <div class="job-listing">
                    <h4>{{listing.title}}</h4>
                    <div align="left">{{listing.company}}</div> 
                    <div align="left">{{listing.location}}</div>
                    <div align="right">Posted: {{listing.dates}} </div>
                </div>
            </button>
            <br>
            <br>
            <br>
            </div>

        </div>

    </div>


